@import '../../Colors.scss';

.container {
	height: 100%;
	width: 100%;
	background: linear-gradient(to right, rgba($cb, 0.2) 0, rgba($cb, 0.2) 15%, rgba($cb, 0.1) 10%);
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: gradientAnimation;
	animation-timing-function: linear;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 100em 0;
	}
}
