.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 75%;

		label {
			display: flex;
			flex-direction: column;
			min-width: 300px;
			width: 50%;

			&#message {
				width: 100%;
			}
		}

		#submit {
			width: 100%;
		}
	}
}
