@import '../../Colors.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h2 {
		width: 70%;
	}

	.text {
		width: 60%;
	}

	.video {
		width: 50vmax;
		height: 100%;
	}

	a {
		color: $cp;
		font-weight: 700;
		text-decoration: none;
	}
}
