@import '../../Colors.scss';
@import '../../Animations.scss';
@import '../../Tools.scss';

.container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 70%;
		height: 60%;
		padding: 5% 5%;
		background-color: $cp;
		@include border-radius;
		@include drop-shadow;

		#logo {
			width: 20vmax;
		}
	}

	#hero {
		position: absolute;
		align-self: flex-start;
		right: 0;
		max-width: 35vw;
	}

	@media screen and (max-width: 760px) {
		#hero {
			display: none;
		}
	}
}
