@import '../../Colors.scss';
@import '../../Animations.scss';
@import '../../Tools.scss';

.container {
	position: relative;
	padding: 10vh 10vw;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		max-height: 30vh;
		padding: 5% 5%;
		background-color: $cp;
		@include border-radius;
		@include drop-shadow;

		#logo {
			width: 20vmax;
		}
	}

	#hero {
		position: absolute;
		align-self: flex-start;
		top: 0;
		right: 0;
		max-width: 35vw;
	}

	@media screen and (max-width: 760px) {
		#hero {
			display: none;
		}
	}
}
