@import '../../Colors.scss';
@import '../../Animations.scss';
@import '../../Tools.scss';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 50vh;
	padding: 10vh 10vw;

	#logo {
		width: 20vh;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		flex: 100%;
		padding: 2.5vmax 5vmax;
		background-color: $cp;
		@include border-radius;
		@include drop-shadow;

		h1 {
			margin-top: 4vh;
			max-width: 50%;
		}

		.video {
			align-self: center;
			color: $cb;

			svg {
				height: 6vh;
				width: auto;
				transition: 100ms ease-in;
			}

			&:hover svg {
				transform: scale(1.1);
				transition: 100ms ease-out;
			}
		}
	}

	#hero {
		position: absolute;
		align-self: flex-start;
		top: 0;
		right: 0;
		max-width: 35vw;
	}

	@media screen and (max-width: 760px) {
		#hero {
			display: none;
		}
		.wrapper h1 {
			max-width: 100%;
		}
	}
}
