.container {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(25%, 320px));
		justify-content: center;

		.wrapper {
			display: flex;
			justify-content: center;
			img {
				width: 100%;
			}
		}
	}
}
