@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-display: block;
}

h1 {
	font-size: 4vh;
	font-weight: 700;
}

h2 {
	font-size: 3vh;
	font-weight: 700;
	text-align: center;
}
